<h1>Low Stock Alert</h1>
<p>The following product is running low on stock:</p>
<p>Product Name: {{productName}}</p>
<p>Product ID: {{productId}}</p>
<p>Current Stock: {{currentStock}}</p>
<p>Please restock this product as soon as possible.</p>